<div class="ui-g ui-fluid">

  <div class="ui-g-12 ui-md-6">
    <h1>Planten selectie</h1>
  </div>
  <div class="ui-g-12 ui-md-6">
  </div>
</div>

<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-2">
    bloeitijd :
    <div class="ui-inputgroup">
      <p-multiSelect defaultLabel="kies" [options]="bloeitijdLijst" maxSelectedLabels="12" [(ngModel)]="plantZoekItem.bloeitijdLijst"></p-multiSelect>
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    hoogte :
    <div class="ui-inputgroup">
      <p-multiSelect   defaultLabel="kies" [options]="hoogteLijst" maxSelectedLabels="7" [(ngModel)]="plantZoekItem.hoogteLijst"></p-multiSelect>
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    bladhoudend :
    <div class="ui-inputgroup">
      <p-multiSelect  defaultLabel="kies" [options]="bladhoudendLijst" [(ngModel)]="plantZoekItem.bladhoudendLijst"></p-multiSelect>
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    grondsoort :
    <div class="ui-inputgroup">
      <p-multiSelect   defaultLabel="kies" [options]="grondsoortLijst" [(ngModel)]="plantZoekItem.grondsoortLijst"></p-multiSelect>
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    kleur :
    <div class="ui-inputgroup">
      <p-multiSelect  defaultLabel="kies" [options]="kleurLijst" maxSelectedLabels="8" [(ngModel)]="plantZoekItem.kleurLijst"></p-multiSelect>
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    lichtbehoefte :
    <div class="ui-inputgroup">
      <p-multiSelect  defaultLabel="kies" [options]="lichtbehoefteLijst" [(ngModel)]="plantZoekItem.lichtbehoefteLijst"></p-multiSelect>
    </div>
  </div>

</div>

<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-2">
    plantsoort :
    <div class="ui-inputgroup">
      <p-multiSelect   defaultLabel="kies" [options]="plantsoortLijst" maxSelectedLabels="12" [(ngModel)]="plantZoekItem.plantsoortLijst"></p-multiSelect>
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    Nederlandse naam :
    <div class="ui-inputgroup">
      <input type="text"  pInputText [(ngModel)]="plantZoekItem.nederlandseNaam"/>
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    botanische naam :
    <div class="ui-inputgroup">
      <input type="text"  pInputText [(ngModel)]="plantZoekItem.botanischeNaam"/>
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    beschrijving (deel) :
    <div class="ui-inputgroup">
      <input type="text"  pInputText [(ngModel)]="plantZoekItem.beschrijving"/>
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">
    <button pButton type="button" class="ui-button-info" (click)="zoekPlanten()" label="zoek"></button>
  </div>
  <div class="ui-g-12 ui-md-1">
    <button pButton type="button" class="ui-button-info" (click)="initieelZoeken()" label="Initieel"></button>
  </div>
  <div class="ui-g-12 ui-md-2"></div>

</div>

<div class="ui-g ui-fluid">

  <div class="ui-g-12 ui-md-6">
    <h1>Geselecteerde planten</h1>
  </div>
  <div class="ui-g-12 ui-md-6">
  </div>
</div>

<p-dataGrid [value]="teTonenPlantLijst"  [paginator]="true" [rows]="20">
  <p-header>
    List van planten
  </p-header>
  <ng-template let-plant pTemplate="item">
    <div style="padding:3px" class="ui-g-12 ui-md-3">
      <p-panel [header]="plant.botanischeNaam" [style]="{'text-align':'center'}">
        <img src="assets/lavendel.jpg" width="60">
        <div class="plant-detail">bloeitijd : {{plant.bloeiTijdString()}}</div>
        <div class="plant-detail">{{plant.bladhoudend}} - {{plant.hoogte}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <i class="fa fa-search" (click)="selectPlant(plant)" style="cursor:pointer"></i>
        </p-panel>
    </div>
  </ng-template>
</p-dataGrid>


<p-dialog header="Plant details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="325" (onAfterHide)="onDialogHide()">
  <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedPlant" style="font-size:16px;text-align:center;padding:20px">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12" style="text-align:center"><img class="plantenfoto"  src="assets/lavendel.jpg"></div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">Botanisch naam: </div>
      <div class="ui-grid-col-8">{{selectedPlant.botanischeNaam}}</div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">bloeitijd: </div>
      <div class="ui-grid-col-8">{{selectedPlant.bloeiTijdString()}}</div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">bladerdracht: </div>
      <div class="ui-grid-col-8">{{selectedPlant.bladhoudend}}</div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">hoogte: </div>
      <div class="ui-grid-col-8">{{selectedPlant.hoogte}}</div>
    </div>


  </div>
</p-dialog>
