#Java
*.class
*.jar
*.war
*.ear
*.trc
*.phd
javacore*.txt

#Maven
generated
target
*.zip

#IDE
#.project
#.classpath
.settings
.factorypath
.apt_generated
.idea
*.launch
*.iml
eclipse-rsa-config
gwt-unitCache
war
.checkstyle
*.log
