<div class="ui-g ui-fluid">

    <div class="ui-g-12 ui-md-2">
      <input *ngIf="onderhandenPlan" type="text" pInputText [(ngModel)]="onderhandenPlan.naam" size="20"/>
    </div>

    <div class="ui-g-12 ui-md-1">
      <button pButton type="button" label="Save"  (click)="saveBeplantingsPlan()" class="ui-button-success"></button>
    </div>
  <div class="ui-g-12 ui-md-1">
    <a routerLink="/plannen"><button pButton type="button" label="terug"   class="ui-button-success"></button></a>
  </div>

  <div class="ui-g-12 ui-md-8"></div>
</div>





<p-dataTable *ngIf="onderhandenPlan" [value]="onderhandenPlan.plantPlaatsLijst" [rows]="10" [immutable]="false"   [globalFilter]="gb" #dt>

  <p-column field="b" header="Naam" [style]="{'width':'100px'}">
    <ng-template let-col let-plantPlaats="rowData" pTemplate="body">
      <input type="text" pInputText [(ngModel)]="plantPlaats.naam" size="6"/>
    </ng-template>
  </p-column>

  <p-column field="b" header="Meters"  [style]="{'width':'200px'}">
    <ng-template let-col let-plantPlaats="rowData" pTemplate="body">
      <input type="number"  [(ngModel)]="plantPlaats.vierkanteMeters" size="1"/>
    </ng-template>
  </p-column>

  <!--<p-column field="naam" header="Naam"  [style]="{'width':'100px'}" [filter]="true"></p-column>-->
  <p-column field="plant.botanischeNaam" sortable="true" header="Botanische Naam" ></p-column>

  <p-column field="plant.nederlandseNaam" sortable="true" header="Nederlandse Naam" ></p-column>

  <p-column field="plant.kleur" header="Kleur" sortable="true" [filter]="true" filterMatchMode="equals">
    <ng-template let-col let-plantPlaats="rowData" pTemplate="body">
      <p-dropdown [readonly]="true" [options]="keuzekleuren" [style]="{'width':'100%'}" [(ngModel)]="plantPlaats.plant.kleur" [filter]="true" ></p-dropdown>
    </ng-template>

    <ng-template pTemplate="filter" let-col >
      <p-dropdown [options]="keuzekleuren" [style]="{'width':'100%'}"   (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
    </ng-template>
  </p-column>

  <p-column field="b" header="Foto" [style]="{'width':'100px'}">
    <ng-template let-col let-plantPlaats="rowData" pTemplate="body">
      <img class="kleineplantenfoto" src="data:image/png;base64,{{plantPlaats.plant.base64Image}}">
    </ng-template>
  </p-column>

  <p-column  header="Acties" [style]="{'width':'100px'}">
    <ng-template let-col let-plantPlaats="rowData" pTemplate="body">

      <button pButton type="button" icon="fa-plus" iconPos="right" (click)="verwijderPlantplaats(plantPlaats)" class="ui-button-danger"></button>

    </ng-template>
  </p-column>
</p-dataTable>

<br><br><br><br>
<h3>Planten toevoegen</h3>
<p-inputSwitch onLabel="on" offLabel="off" [(ngModel)]="toevoegswitch"></p-inputSwitch>

<div *ngIf="toevoegswitch">



  <p-dataTable *ngIf="allePlantLijst" [value]="allePlantLijst" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt>


  <p-column field="botanischeNaam" sortable="true" header="Botanische Naam" [filter]="true"  ></p-column>

  <p-column field="nederlandseNaam" sortable="true" header="Nederlandse Naam" [filter]="true"  ></p-column>

  <p-column field="kleur" header="Kleur" sortable="true" [filter]="true" filterMatchMode="equals">
    <ng-template let-col let-plant="rowData" pTemplate="body">
      <p-dropdown [readonly]="true" [options]="keuzekleuren" [style]="{'width':'100%'}" [(ngModel)]="plant.kleur" [filter]="true" ></p-dropdown>
    </ng-template>

    <ng-template pTemplate="filter" let-col >
      <p-dropdown [options]="keuzekleuren" [style]="{'width':'100%'}"   (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
    </ng-template>
  </p-column>


    <p-column field="hoogte" header="Hoogte" [filter]="true" filterMatchMode="equals">
      <ng-template let-col let-plant="rowData" pTemplate="body">
        <p-dropdown [options]="hoogteLijst" [style]="{'width':'100%'}" [(ngModel)]="plant.hoogte" [filter]="true"></p-dropdown>
      </ng-template>

      <ng-template pTemplate="filter" let-col >
        <p-dropdown [options]="hoogteLijst" [style]="{'width':'100%'}"   (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
      </ng-template>
    </p-column>


    <p-column field="bladhoudend" header="Bladerdracht" [filter]="true" filterMatchMode="equals">
      <ng-template let-col let-plant="rowData" pTemplate="body">
        <p-dropdown [options]="bladhoudendLijst" [style]="{'width':'100%'}" [(ngModel)]="plant.bladhoudend" [filter]="true"></p-dropdown>
      </ng-template>

      <ng-template pTemplate="filter" let-col >
        <p-dropdown [options]="bladhoudendLijst" [style]="{'width':'100%'}"   (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
      </ng-template>
    </p-column>


    <p-column field="b" header="Foto" [style]="{'width':'100px'}">
      <ng-template let-col let-plant="rowData" pTemplate="body">
        <img class="kleineplantenfoto" src="data:image/png;base64,{{plant.base64Image}}">
      </ng-template>
    </p-column>

    <p-column  header="Acties" [style]="{'width':'100px'}">
      <ng-template let-col let-plant="rowData" pTemplate="body">

        <button pButton type="button" icon="fa-plus" iconPos="right" (click)="selectplant(plant)" class="ui-button-success"></button>


      </ng-template>
    </p-column>
  </p-dataTable>
</div>
