


<div class="ui-g ui-fluid">

  <div class="ui-g-12 ui-md-1">

    <a [routerLink]="['/nieuwBeplantingsplan']"><button pButton type="button" class="ui-button-info" label="Nieuw plan" class="ui-button-success"></button></a>

  </div>

  <div class="ui-g-12 ui-md-11"></div>
</div>


<p-dataTable [value]="teTonenPlannenLijst" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt>
  <p-column field="naam" header="Naam" sortable="true" [filter]="true"></p-column>

  <p-column  header="Acties" >
    <ng-template let-col let-plan="rowData" pTemplate="body">

      <button pButton type="button" icon="fa-close" iconPos="right" (click)="deletePlan(plan)" class="ui-button-danger" title="verwijder"></button>
      <button pButton type="button" icon="fa-cc" iconPos="center" (click)="copyPlan(plan)" class="ui-button-info" title="kopieer"></button>
      <a [routerLink]="['/beplantingsplan', plan.id]"><button pButton type="button" icon="fa-pencil-square-o" iconPos="center" class="ui-button-success" title="bewerk/bekijk" ></button></a>
      <button pButton type="button" icon="fa-file" iconPos="center" (click)="excelPlan(plan)" class="ui-button-info" title="excel"></button>

    </ng-template>
  </p-column>
</p-dataTable>

