
<div class="ui-g ui-fluid">

  <div class="ui-g-12 ui-md-6">
    <h1>Update de plant</h1>
  </div>
  <div class="ui-g-12 ui-md-6">
  </div>
</div>

<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-1">botanische naam: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <input type="text" size="40" pInputText [(ngModel)]="onderhandePlant.botanischeNaam"/>
    </div>
  </div>

  <div class="ui-g-12 ui-md-1">nederlands naam: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <input type="text" size="40" pInputText [(ngModel)]="onderhandePlant.nederlandseNaam"/>
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">beschrijving: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">

      <textarea [rows]="5" [cols]="60" pInputTextarea [(ngModel)]="onderhandePlant.beschrijving" autoResize="autoResize"></textarea>
    </div>
  </div>
</div>


<div class="ui-g ui-fluid">

  <div class="ui-g-12 ui-md-1">kleur: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <p-dropdown [options]="keuzekleuren" [(ngModel)]="onderhandePlant.kleur" [filter]="true"></p-dropdown>
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">hoogte: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <p-dropdown [options]="hoogteLijst" [(ngModel)]="onderhandePlant.hoogte" filter="filter"></p-dropdown>
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">bladhoudend: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <p-dropdown [options]="bladhoudendLijst" [(ngModel)]="onderhandePlant.bladhoudend" filter="filter"></p-dropdown>
    </div>
  </div>

</div>

<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-1">grondsoort: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <p-dropdown [options]="grondsoortLijst" [(ngModel)]="onderhandePlant.grondsoort" filter="filter"></p-dropdown>
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">aantal per m2: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <input type="number" size="10" pInputText [(ngModel)]="onderhandePlant.aantalPerMeter"/>
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">code: </div>
  <div class="ui-g-12 ui-md-2">
    <div class="ui-inputgroup">
      <input type="text" size="5" pInputText [(ngModel)]="onderhandePlant.code"/>
    </div>
  </div>
</div>




<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-1">leverancier: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <input type="text" size="20" pInputText [(ngModel)]="onderhandePlant.leverancier"/>
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">handelsmaat: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <input type="text" size="15" pInputText [(ngModel)]="onderhandePlant.handelsmaat"/>
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">inkoopprijs: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <input type="number" size="10" pInputText [(ngModel)]="onderhandePlant.inkoopprijs"/>
    </div>
  </div>
</div>

<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-1">bloeitijd: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <p-multiSelect  [options]="bloeitijdLijst" [(ngModel)]="onderhandePlant.bloeitijdLijst"></p-multiSelect>
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">plantsoort: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <p-dropdown [options]="plantsoortLijst" [(ngModel)]="onderhandePlant.plantsoort" filter="filter"></p-dropdown>
    </div>
  </div>
</div>


<div class="ui-g ui-fluid">

  <div class="ui-g-12 ui-md-1">huidige foto: </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">

        <img class="plantenfoto" src="data:image/png;base64,{{oldImage}}">

     </div>
  </div>


  <div class="ui-g-12 ui-md-1"> <a routerLink="/catalogus"><button pButton type="button" class="ui-button-info" label="cancel"></button></a></div>
  <div class="ui-g-12 ui-md-1">  <button pButton type="button" class="ui-button-info" label="update" (click)="updatePlant()"></button></div>


  <div class="ui-g-12 ui-md-2"></div>
</div>


<!--<p-fileUpload name="file" url="./rest/image/upload"></p-fileUpload>-->
<p-fileUpload mode="advanced" chooseLabel="Kies foto" cancelLabel="Annuleer" name="myfile[]" maxFileSize="40000" customUpload="true" (uploadHandler)="myUploader($event)" auto="true" ></p-fileUpload>
<div class="ui-g-12 ui-md-1">  <button pButton type="button" class="ui-button-info" label="Bewaar foto" (click)="bewaarFoto()" auto></button></div>




