<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings, Connect to HSQL, IN Memory  -->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
<!--     autoreconnect voor connectie probleem -->
    <property name="connection.url">jdbc:mysql://localhost:3306/plantbeheer?autoReconnect=true</property>
    <property name="connection.username">root</property>
    <property name="connection.password">HteBmysql2017</property>
     
  	<!--   Database connection settings, Connect to HSQL, IN Memory 
    <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
    <property name="connection.driver_class">org.hsqldb.jdbcDriver</property> 
    <property name="connection.url">jdbc:hsqldb:hsql://localhost/addressbook</property>
    <property name="connection.username">sa</property>
    <property name="connection.password"></property> -->

    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
    <!--create the database schema on startup if required -->
    <property name="hbm2ddl.auto">update</property>
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
 
 	<!--voor probleem met connectie  -->
 	<property name="hibernate.c3p0.min_size">5</property>
  	<property name="hibernate.c3p0.max_size">20</property>
  	<property name="hibernate.c3p0.timeout">300</property>
  	<property name="hibernate.c3p0.max_statements">50</property>
  	<property name="hibernate.c3p0.idle_test_period">3000</property>
 
<!--     voor een probleem met com.mysql.jdbc.exceptions.jdbc4.CommunicationsException:  -->
<!--     The last packet successfully received from the server was -->

    <property name="hibernate.connection.release_mode">after_transaction</property>
    
   	<mapping resource="nl/boksebeld/hibernate/model/User.hbm.xml"></mapping>
    <mapping resource="nl/boksebeld/hibernate/model/Klant.hbm.xml"></mapping>
    <mapping resource="nl/boksebeld/hibernate/model/Plant.hbm.xml"></mapping>
    <mapping resource="nl/boksebeld/hibernate/model/BeplantingsPlan.hbm.xml"></mapping>
    <mapping resource="nl/boksebeld/hibernate/model/PlantPlaats.hbm.xml"></mapping>
   </session-factory>
</hibernate-configuration>